/* Reset sederhana */
* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(52, 49, 49);
  margin: 0;
   background-color: #333;
   color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.6;
}



/* Judul */
.container h1 {
  text-align: center;
  color: #1a1a7a;
  margin-bottom: 10px;
  margin-top: 5;
}

.container p {
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
}




.feedback-form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form input[type="number"],
.feedback-form select,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.feedback-form textarea {
  resize:horizontal;
  min-height: 80px;
}

.radio-group,
.checkbox-group {
  display: block;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.feedback-form {
  margin: 20px auto;
  font-family: Arial, sans-serif;
  display:block;
  flex-direction: column;
  gap: 15px;
}

.feedback-form label {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
}



.feedback-text {
  height: 100px;
  resize: vertical;
}


/* Tombol */
.button-group {
  display: block inline;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group button{
  flex: 1;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.button-group button{
  background-color: #0055ff;
  color: white;
}

.button-group button[type="reset"] {
  background-color: #ccc;
}


header,
.header {
  
}

.Screenshot {
  width: 200px;
  height: 200px;
  object-fit: cover; /* isi area tanpa distorsi */
  border-radius: 50%;
  border: 3px solid #e5e7eb;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  color: dodgerblue;
  margin: 0;
}

h3 {
  font-size: 24px;
  color: rgb(38, 94, 94);
  margin: 10;
}
.section-title {
  padding-left: 20px; /* ruang agar teks tidak mepet garis */
  border-left: 5px solid #22c55e; /* garis aksen di kiri */
}

.box {
  margin-top: 5px;
  margin-right: 4cm;
  margin-left: 4cm;
  background-color: #053434;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 50px;
}

.section-title {
  padding-left: 30px;
  border: left 4px solid #124575;
  margin-bottom: 10px;
  text-align: left;
}

.avatar {
  width: 200px; /* atau 250px sesuai kebutuhan */
  height: 200px; /* samakan dengan width untuk bulat sempurna */
  object-fit: cover; /* isi area tanpa distorsi */
  border-radius: 100%;
  border: 3px solid #e5e7eb;
}
nav,
.nav {
  margin-top: 10px;
  padding: 10px;
}

main,
.main {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #f9f9f9;
}

.nav a {
  color: #17171c;
  text-decoration: none;
  border-radius: 22px;
  background: #f8f2f2;
  padding: 6px 14px;
  /* padding-top: 6px; */
  /* padding-bottom: 6px; */
  /* padding_left: 14px; */
  /* padding-right: 14px; */
  margin-right: 8px; /* jarak luar antar link */
  background-color: rgb(85, 95, 95);
  transition: all ease-in-out 0.2s;
}
.nav a.active {
  background-color: rgb(43, 43, 103);
  color: white;
}

.nav a:hover {
  background-color: rgb(1, 1, 1);
  color: white;
}

/* Section / Artikel utama */
section,
.section {
  flex: 2;
  background: #124575;
  padding: 15px;
  border-radius: 6px;
}

.gallery {
  text-align: center;
}

.gallery h2 {
  color: indigo;
  font-size: 34px;
}

.gallery .card {
  gap: 15px; /* Jarak antar gambar */
  margin: auto;
  border: 4px to red;
  border-radius: 8px;
  display: flex;
  object-fit: cover;
}

.gallery .card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.gallery .card figcaption {
  width: 150px;
  margin: 20px;
  vertical-align: top;
  background-color: indigo;
  color: white;
  padding: 8px;
  margin-top: 0px;
}



.gallery-container {
  margin-left: 80px; /* geser ke kanan */
  /* atau */
  /* transform: translateX(50px); */
}




.label {
  background-color: #4B0082; /* ungu */
  color: white;
  padding: 10px;
  font-weight: bold;
}



#table-basic {
  width: 100%;
  border-collapse: collapse;
}

#table-basic td {
  padding: 6px;
  font-family:'Times New Roman', Times, serif;
}
#table-basic .bg-header {
  padding-right: 100px;
  background-color:darkgreen;
  color: rgb(237, 228, 228);
  font-weight: bold;
  text-align: center;
}

