.card {
  background: #f9f9f9;
  text-align: center;
  place-content: center;
  place-items: center;
  height: 250px;
  width: 250px;
  border: 2px dashed #333;
  border-radius: 6px;
}
.area {
  width: 100px;
  height: 100px;
  place-content: center;
  background: #666;
  display: block;
  margin: 6px;
}
 

.area h3,
.area p {
  margin: 0 auto;
}
.area p {
  font-size: 14px;
  color: #666;
}

.area-ib{
  display: inline-block;
  background: pink;
}

.area-in{
  background: wheat;
}

.area-in p {
  display: inline;
  background: tomato;
  padding: 6px;
}

.area-none{
  background: gold;
  display: none;
}

.card:hover .area-none{
  display: block;
}

.flexbox-area {
  display:flex;
  /* devault: row */
  gap: 19px;
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
  /*default: flex-start; */
  /*justify-content: space-between;*/
}


.flexbox-area .card {
  width: 250px;
  height: 150px;
}